.review-field{
    background-image: url('https://i.ibb.co/874L5vM/211372-web-design-wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
